* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.creator {
    position: sticky;
    bottom: 20px;
    font-size: small;
}

input,
.btn {
    width: 50%;
    display: block;
    padding: 10px;
    margin: 2px;
    font-size: 18px;
    margin: auto;
}

.btn {
    margin-top: 5px;
}

.scores,
.choices {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
    gap: 20px;
}

.choices {
    justify-content: space-evenly;
}

#win-window {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: safe;
    gap: 200px;
    width: 30vw;
    height: 10px;
    margin: auto;
}

.elements div {
    margin: 0;

}

.elements img {
    width: 300px;
    height: 300px;
}

.hide {
    display: none;
    margin: 20px;
    padding: 20px;
}

.show {
    display: block;
}

.victory h1 {
    text-align: center;
    margin: 40px 0;
    width: fit-content;
    margin: auto;
    padding: 10px;
    background-color: black;
    color: white;
}
 
@media screen and (max-width: 927px) {
    body {
      background-color: lightgreen;
    }

    .scores {
        display: flex;
        flex-direction: column;
    }

    .elements {
        margin: auto;
    }

    .elements img {
        width: 100px;
        height: 100px;
    }
  }